<main>
      <!-- circles -->
      <div class="circle-sec">
        <div class="circle-container">
          <div class="circle">
            <img src="images/pic6.webp" alt="image6" />
          </div>
          <p>Up to 70% Off</p>
        </div>
        <div class="circle-container">
          <div class="circle">
            <img src="images/pic2.webp" alt="image2" />
          </div>
          <p>New In</p>
        </div>
        <div class="circle-container">
          <div class="circle">
            <img src="images/pic3.webp" alt="image3" />
          </div>
          <p>Dresses</p>
        </div>
        <div class="circle-container">
          <div class="circle">
            <img src="images/pic4.webp" alt="image4" />
          </div>
          <p>Tops</p>
        </div>
        <div class="circle-container">
          <div class="circle">
            <img src="images/pic5.webp" alt="image5" />
          </div>
          <p>Knitwear</p>
        </div>
        <div class="circle-container">
          <div class="circle">
            <img src="images/pic1.webp" alt="image1" />
          </div>
          <p>Coats & Jackets</p>
        </div>
        <div class="circle-container">
          <div class="circle">
            <img src="images/pic11.webp" alt="image11" />
          </div>
          <p>Trousers</p>
        </div>
        <div class="circle-container">
          <div class="circle">
            <img src="images/pic8.webp" alt="image8" />
          </div>
          <p>Tailoring</p>
        </div>
        <div class="circle-container">
          <div class="circle">
            <img src="images/pic9.webp" alt="image9" />
          </div>
          <p>Occasion</p>
        </div>
        <div class="circle-container">
          <div class="circle">
            <img src="images/pic10.webp" alt="image10" />
          </div>
          <p>Boots</p>
        </div>
        <div class="circle-container">
          <div class="circle">
            <img src="images/pic7.webp" alt="image7" />
          </div>
          <p>Sale</p>
        </div>
      </div>
      <!-- circles ends -->

      <!-- main image -->
      <!-- <div class="main-image">
        <img src="./images/pic13.webp" alt="image13" />
      </div> -->
      <!-- main image ends -->
        <!-- Main Image Slider -->
        <div id="mainImageCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="images/image34.webp" alt="image34" class="d-block w-100" />
              <div class="carousel-caption">
                <button class="shop-btn">SHOP NOW</button>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image32.webp" alt="image32" class="d-block w-100" />
              <div class="carousel-caption">
                <button class="shop-btn">SHOP NOW</button>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/pic13.webp" alt="image13" class="d-block w-100" />
              <div class="carousel-caption">
                <button class="shop-btn">SHOP NOW</button>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image33.webp" alt="image33" class="d-block w-100" />
              <div class="carousel-caption">
                <button class="shop-btn">SHOP NOW</button>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#mainImageCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#mainImageCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </button>
        </div>
        
  <!-- Main Image Slider Ends -->

      <!-- images  -->
      <div class="images">
        <div class="img">
          <img src="images/pic14.webp" alt="image14" />
          <div class="overlay">
            <h3>Dresses</h3>
            <button class="shop-btn2">SHOP NOW</button>
          </div>
        </div>
        <div class="img">
          <img src="images/pic15.webp" alt="image15" />
          <div class="overlay">
            <h3>Tops</h3>
            <button class="shop-btn2">SHOP NOW</button>
          </div>
        </div>
        <div class="img">
          <img src="images/pic16.webp" alt="image16" />
          <div class="overlay">
            <h3>Skirts</h3>
            <button class="shop-btn2">SHOP NOW</button>
          </div>
        </div>
      </div>
      
      <!-- images ends -->

      <!-- blue box -->
      <div class="blue-box">
        <img src="images/pic17.webp" alt="image17" />
      </div>
      <!-- blue box ends -->

      <!-- just landed  -->
      <div class="landed">
        <p>Just Landed</p>

        <div>Shop The Latest Fashion Staples At Warehouse</div>
      </div>
      <!-- just landed ends -->

      <!-- image sec -->
      <div id="carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-3">
                        <img src="images/pic18.webp" class="d-block w-100" alt="Image 18">
                        <h3>Warehouse</h3>
                        <p>Placement Print Crinkle Satin Ruched Midi Dress</p>
                    </div>
                    <div class="col-md-3">
                        <img src="images/pic20.webp" class="d-block w-100" alt="Image 20">
                        <h3>Warehouse</h3>
                        <p>Lace Ruffle Front Maxi Strappy Top</p>
                    </div>
                    <div class="col-md-3">
                        <img src="images/pic21.webp" class="d-block w-100" alt="Image 21">
                        <h3>Warehouse</h3>
                        <p>Bandeau Bodice Pleated Chiffon Midi Dress</p>
                    </div>
                    <div class="col-md-3">
                        <img src="images/pic22.webp" class="d-block w-100" alt="Image 22">
                        <h3>Warehouse</h3>
                        <p>Print Georgette Fallen Shoulder Midi Dress</p>
                    </div>
                </div>
            </div>
    
            <!-- Slide 2 -->
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-3">
                        <img src="images/pic24.webp" class="d-block w-100" alt="Image 24">
                        <h3>Warehouse</h3>
                        <p>Crinkle Satin Ruched Front Column Midi Dress</p>
                    </div>
                    <div class="col-md-3">
                        <img src="images/pic25.webp" class="d-block w-100" alt="Image 25">
                        <h3>Warehouse</h3>
                        <p>Deconstructed Waistcoat</p>
                    </div>
                    <div class="col-md-3">
                        <img src="images/pic26.webp" class="d-block w-100" alt="Image 26">
                        <h3>Warehouse</h3>
                        <p>Premium Jacquard Gathered Channel Smock Mini Dress</p>
                    </div>
                    <div class="col-md-3">
                        <img src="images/pic27.webp" class="d-block w-100" alt="Image 27">
                        <h3>Warehouse</h3>
                        <p>Plisse High Waisted Wide Leg Trousers</p>
                    </div>
                </div>
            </div>
    
            <!-- Slide 3 -->
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-3">
                        <img src="images/pic28.webp" class="d-block w-100" alt="Image 28">
                        <h3>Warehouse</h3>
                        <p>Embroidered Mesh Flare Sleeve Blouse</p>
                    </div>
                    <div class="col-md-3">
                      <img src="images/pic29.webp" class="d-block w-100" alt="Image 29">
                      <h3>Warehouse</h3>
                      <p>Embroidered Mesh Flare Sleeve Blouse</p>
                    </div>
                    <div class="col-md-3">
                      <img src="images/pic30.webp" class="d-block w-100" alt="Image 30">
                      <h3>Warehouse</h3>
                      <p>Embroidered Mesh Flare Sleeve Blouse</p>
                    </div>
                    <div class="col-md-3">
                      <img src="images/pic31.webp" class="d-block w-100" alt="Image 31">
                      <h3>Warehouse</h3>
                      <p>Embroidered Mesh Flare Sleeve Blouse</p>
                    </div>
                    
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      

   
    <div id="main2ImageCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="images/pic23.webp" alt="image23" class="d-block w-100" />
          <div class="carousel-caption">
            
            <button class="shop-btn">SHOP DENIM</button>
          </div>
        </div>
        <div class="carousel-item">
          <img src="images/pic13.webp" alt="image13" class="d-block w-100" />
          <div class="carousel-caption">
            
            <button class="shop-btn">SHOP NOW</button>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#main2ImageCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#main2ImageCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>
    
    


    

    </main>