<footer >
      <div class="account">
        <div class="first">
          <div class="signup">
            <p>Let's get to know each other</p>
            <div class="Sign">
              Sign up to receive emails from us, so you never miss out on the good stuff.
            </div>
          </div>
        </div>
        <div class="second">
          <div class="newsletter">
            <input type="email" placeholder="Please enter your email address" />
            <button>SUBSCRIBE</button>
          </div>
          <p class="terms">
            By submitting your details, you agree to receive marketing communications from
            Warehouse & our Family of Brands by email. You can unsubscribe at any point.
            You also consent to the use of your details in accordance with our
            <a href="#">Privacy Policy.</a>
          </p>
        </div>
      </div>
      
 <!-- New Footer Sections -->
  <div class="footer-sections">
    <div class="footer-column">
      <h3>Shopping with Warehouse</h3>
      <ul>
        <li>Unlimited Delivery</li>
        <li>DebenhamsPay+</li>
        <li>Clearpay</li>
        <li>Klarna</li>
        <li>Student Beans</li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>Customer Care</h3>
      <ul>
        <li>Return Your Order</li>
        <li>Frequently Asked Questions</li>
        <li>Delivery Information</li>
        <li>Returns Information</li>
        <li>Contact Us</li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>Privacy & Legal</h3>
      <ul>
        <li>Privacy Policy</li>
        <li>Terms & Conditions</li>
        <li>About Cookies</li>
        <li>Terms of Use</li>
        <li>Concessionaire Brands</li>
        <li>Product</li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>More From Warehouse</h3>
      <ul>
        <li>Careers At Debenhams</li>
        <li>Modern Slavery Statement</li>
      </ul>
    </div>

    <div class="footer-column social">
      <h3>Follow Us On Social Media</h3>
      <div class="social-icons">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-pinterest"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-x-twitter"></i>
      </div>

      <h3>Download our app</h3>
      <div class="app-download">
        <img src="/images/googleplay.png" alt="Google Play">
        <img src="/images/appstore.png" alt="App Store">
      </div>
    </div>
  </div>

  <div class="footer-logos">
    <div class="footer-left">
    <img src="/images/debenhams.webp" alt="Debenhams">
    <img src="/images/dp.webp" alt="DP">
    <img src="/images/wallis.webp" alt="WALLIS">
    <img src="/images/oasis.webp" alt="OASIS">
    <img src="/images/coast.webp" alt="Coast">
    <img src="/images/dbz_prod_burton_logo-2023.webp" alt="Burton London">
    <img src="/images/misspap.webp" alt="MISSPAP">
    <img src="/images/nastygal.webp" alt="Nasty Gal">
    </div>

    <div class="footer-right">
    <img src="/images/visa.webp" alt="visa">
    <img src="/images/mastercard.webp" alt="mastercard">
    <img src="/images/visa-electron.webp" alt="visa-electron">
    <img src="/images/maestropay.webp" alt="maestro-pay">
    <img src="/images/applepay.webp" alt="apple-pay">
    <img src="/images/clearpay.webp" alt="clear-pay">
    <img src="/images/amex-pay.webp" alt="amex-pay">
    <img src="/images/payplus.webp" alt="pay-plus">
    <img src="/images/klama.webp" alt="klama">
    </div>
  </div>  
  
    </footer>