<header>
      <!-- first part -->
      <div class="head-sect">
        <div class="logo">
          <img
            src="https://mediahub.debenhams.com/dbz_prod_warehouse-logo-blk-on-wht?w=141&dpr=2&ttl=604800"
            alt="logo"
          />
        </div>
        <div class="input">
          <i class="fa fa-search"></i>
          <input
            type="text"
            placeholder="Search for products, brands and more"
          />
        </div>
        <div class="icons">
          <i class="fa-regular fa-user"></i>
          <i class="fa-solid fa-heart"></i>
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
        <!-- first part ends -->

        <!-- second part -->
      </div>

      <div class="second-part">
        <div class="dropdown">
          <ul>
            <li>Sale</li>
            <li>New In</li>
            <li>Clothing</li>
            <li>Dresses</li>
            <li>Occasionwear</li>
            <li>Shoes & Accessories</li>
            <li>Shop by fit</li>
            <li>Winter</li>
            <li>Home</li>
            <li>Brands</li>
          </ul>
        </div>
      </div>
      <!-- second part ends -->

      <!-- moveable part -->
      <div class="moveable">
        <marquee behavior="" direction="">
          <a href=""
            >Upto 50% Off Warehouse | Shop Offer
          </a
          >
          <a href=""
            >30% Off New Season | Shop Offer
          </a
          >
          <a href=""
            >New Season Warehouse | Shop Now
          </a
          >
        </marquee>
      </div>
      <!-- moveable part ends -->

      <!-- sale part  -->
      <div class="sale">
        <a href="">Free Delivery On Orders Over £50</a>
      </div>
    </header>

    
    